{
  "development": {
    "username": "username",
    "password": "password",
    "database": "boats_development",
    "host": "localhost",
    "dialect": "postgres"
  },
  "test": {
    "username": "username",
    "password": "password",
    "database": "boats_test",
    "host": "localhost",
    "dialect": "postgres"
  },
  "production": {
    "username": "username",
    "password": "password",
    "database": "boats_production",
    "host": "localhost",
    "dialect": "postgres"
  }
}
